<template>
    <Page class="page" v-bind:class="{ phone: isPhone, tablet: isTablet }">
        <ActionBar title="Qbit"></ActionBar>

        <StackLayout>
            <StackLayout class="box box-1" @tap="onAttendTap">
                <Label textWrap="true" text="Attendance">
                </Label>
            </StackLayout>

            <!--Phone Layout-->
            <StackLayout class="box box-2" @tap="onLeaveTap">
                <Label textWrap="true" text="Leave"></Label>
            </StackLayout>

            <!--Tablet Layout-->
            <StackLayout class="box box-3" @tap="onLeaveTap">
                <Label textWrap="true" text="Leave"></Label>
            </StackLayout>
        </StackLayout>
    </Page>
</template>

<script>
    const device = require("tns-core-modules/platform").device;
    const DeviceType = require("tns-core-modules/ui/enums").DeviceType;
    import Attend from "./Attendance";
    import Leave from "./Leave";
    export default {
        methods: {
            onAttendTap() {
                this.$navigateTo(Attend, {
                    clearHistory: true
                });
                console.log("Attendance Button was pressed");
            },
            onLeaveTap() {
                this.$navigateTo(Leave, {
                    clearHistory: true
                });
                console.log("Leave Button was pressed");
            }
        },

        data: {
            isPhone: null,
            isTablet: null
        },
        created() {
            this.isPhone = device.deviceType == DeviceType.Phone;
            this.isTablet = device.deviceType == DeviceType.Tablet;
        }
    };
</script>

<style scoped>
    .box {
        margin: 30;
        padding: 50;
        border-width: 1;
        border-color: slategray;
        border-radius: 10;
        font-size: 24;
    }

    .phone .box-1 {
        background-color: #4764fa;
        color: white;
    }

    .tablet .box-1 {
        background-color: green;
        color: white;
    }

    .phone .box-3 {
        visibility: collapse;
    }

    .tablet .box-2 {
        visibility: collapse;
    }
</style>