<template>
	<page actionBarHidden="true" backgroundSpanUnderStatusBar="true">
		<!-- @loaded="onLoaded" -->

		<GridLayout rows="auto,auto,*,auto" columns="auto">

			<GridLayout row="0" ref="navStatusBar" class="navStatusBar" backgroundColor="#bd2122" verticalAlignment="top" height="40"
			 width="100%" rows="auto" columns="*,auto,auto,auto">
				<Label col="0" row="0" text="Home" class="status-title"></Label>
					<Image col="1" row="0" @tap="search" horizontalAlignment="right" class="status-img"
							src="~/assets/images/search.png" />
					<Image col="2" row="0" @tap="bell" horizontalAlignment="right" class="status-img"
							src="~/assets/images/bell.png" />
					<Image horizontalAlignment="right" stretch="aspectFill" col="3"
							row="0" class="status-profile" src="~/assets/images/me.jpg" />
			</GridLayout>

			<GridLayout  row="1" ref="navTab" class="navTab" verticalAlignment="top" height="50"
					width="100%"  rows="auto" columns="auto,auto,auto">

					<GridLayout class="tabview" :class="selectedTabview==0?'active':''"
							@tap="popular" rows="*,auto" cols="auto" col="0" row="0"
							width="50%">
							<Image v-show="selectedTabview==0" row="0" class="navIcon"
									:src="selectedTabview==0?'~/assets/images/popular.png':''"/>
							<Label :class="selectedTabview==0?'active':''" row="1"
									text="Attendance" class="tabviewText"></Label>
					</GridLayout>
                    
					<GridLayout class="tabview" :class="selectedTabview==1?'active':''"
							@tap="showCategory" rows="*,auto" cols="auto" col="1" row="0"
							width="50%">
							<Image v-show="selectedTabview == 1" row="0" class="navIcon"
									:src="selectedTabview==1?'~/assets/images/category.png':''"/>
							<Label :class="selectedTabview==1?'active':''" row="1"
									text="Leave Application" class="tabviewText"></Label>							
					</GridLayout>
					<!-- <GridLayout class="tabview" :class="selectedTabview==2?'active':''"
							@tap="showPromos" rows="*,auto" cols="auto" col="2" row="0"
							width="33%">
							<Image v-show="selectedTabview == 2" row="0" class="navIcon"
									:src="selectedTabview==2?'~/assets/images/category.png':''"/>
							<Label :class="selectedTabview==2?'active':''" row="1"
									text="Profile" class="tabviewText"></Label>							
					</GridLayout> -->
			</GridLayout>

			<GridLayout v-show="selectedTabview == 0" row="2" width="100%" backgroundColor="white">
				<!-- <Attendance width="100%" /> -->
				<StackLayout orientation="vertical"
					class="page-content">
					<StackLayout orientation="horizontal"
						class="nix">
						<!-- Check In -->
						<StackLayout class="btn-img"
							orientation="vertical" padding="10"
							@tap="onTappedcheck('in')"
							:visibility="checkinvisbility ? 'visible' : 'collapsed'">
							<Label text="check In"
								verticalAlignment="center">
							</Label>
							<Label :text="date"
								verticalAlignment="center">
							</Label>
						</StackLayout>

						<StackLayout class="btn-img"
							orientation="vertical" padding="10"
							@tap="onTappedcheck('out')"
							:visibility="checkoutvisbility ? 'visible' : 'collapsed'">
							<Label text="check Out"
								verticalAlignment="center">
							</Label>
							<Label :text="date"
								verticalAlignment="center">
							</Label>
						</StackLayout>
					</StackLayout>

					<ScrollView orientation="horizontal">
						<ListView for="watchdata in list_data"
							@itemTap="onItemTap"
							style="height:1250px">
							<v-template>
								<StackLayout
									orientation="horizontal"
									width="100%">
									<Image
										:src="watchdata.imageSrc"
										class="thumb img-circle" />
									<Label :text="watchdata.name"
										class="t-12"
										style="width: 100%" />
									<Label :text="watchdata.watch"
										class="t-12"
										style="width: 100%" />
									<Label :text="watchdata.lat"
										class="t-12"
										style="width: 100%" />
									<Label :text="watchdata.long"
										class="t-12"
										style="width: 100%" />
								</StackLayout>
							</v-template>
						</ListView>
					</ScrollView>
				</StackLayout>
				<!-- <ListView ref="listview" separatorColor="transparent" for="item in items" :key="index">
					<v-template>
						<item :item="item" @clicked="showItem(item)" />
					</v-template>
				</ListView> -->
			</GridLayout>

			<GridLayout v-show="selectedTabview == 1" row="2" width="100%" backgroundColor="white">		
				<!-- <ListView ref="listview" separatorColor="transparent" for="item in itemsCategory" :key="index">
					<v-template>
						<Category :item="item"> </Category>
					</v-template>
				</ListView> -->
			</GridLayout>

			<GridLayout v-show="selectedTabview == 2" row="2" width="100%" backgroundColor="white">		
			</GridLayout>

			<navBottom row="3" />

		</GridLayout>
</page>
</template>
<script>
	// import { SwissArmyKnife } from "nativescript-swiss-army-knife";
	import { isIOS, isAndroid } from 'tns-core-modules/platform'
	import navBottom from "./custom/navBottom";

	const geoLocation = require("nativescript-geolocation");
	const gestures = require("ui/gestures"); 
	const app = require("application");

	export default {
		data:function() {
			return {
				lastDelY: 0,
				headerCollapsed: false,
				selectedTab: 0,
				selectedTabview: 0,
				mainContentText: "SideDrawer for NativeScript can be easily setup in the XML definition of your page by defining main- and drawer-content. The component" +
						" has a default transition and position and also exposes notifications related to changes in its state. Swipe from left to open side drawer.",

				message: "You have successfully authenticated. This is where you build your core application functionality.",
				currentGeoLocation: {
					latitude: null,
					longitude: null,
					altitude: null,
					direction: null
				},
				list_data: [{
					name: "",
					watch: "",
					imageSrc: ""
				}],

				ischeckin: false,
				ischeckout: false,
				// date: new Date().toLocaleString()
				date: new Date().toLocaleString(),
				check: "Check In",
				checkinvisbility: true,
				checkoutvisbility: false
			};
		},
		components: {
			navBottom
		},
		// computed: {
		// 	itemsCategory(){
		// 		return this.category.slice().reverse();
		// 	}
		// },

		// mounted () {
		// 	// SwissArmyKnife.setAndroidStatusBarColor("#b51213");
		// },
		
		methods: {
			search(){
				console.log('search')
			},
			bell(){
				console.log('bell')
			},
			
			// showItem(payload) {
			// 	this.$navigateTo(ItemDetails,{
			// 		props: {
			// 			item: payload
			// 		},
			// 		animated: true,
			// 		transition: {
			// 			name: "slideTop",
			// 			duration: 380,
			// 			curve: "easeIn"
			// 		}
			// 	})
			// },
			
			popular() {
				this.selectedTabview = 0;
			},
			
			showCategory() {
				this.selectedTabview = 1;
			},
			
			showPromos() {
				this.selectedTabview = 2;
			},
			
			home() {
				this.selectedTab = 0;
			},
			
			cart() {
				this.selectedTab = 1;
			},
			
			history() {
				this.selectedTab = 2;
			},
			
			about() {
				this.selectedTab = 3;
			},
			logout() {
				this.$backendService.logout();
				this.$navigateTo(Login, {
					clearHistory: true
				});
			},
			onTappedcheck(para) {
				geoLocation.isEnabled().then(enabled => {
					if (!enabled) {
						geoLocation
							.enableLocationRequest()
							.then(() => this.showLocation());
					} else {
						this.showLocation();
					}
				});
				console.log(para);
				if (para == "in") {
					this.check = "Check Out";
					this.checkoutvisbility = true;
					this.checkinvisbility = false;
					this.date = new Date().toLocaleString();
					this.list_data.push({
						name: "Check In",
						imageSrc: "https://www.pngkey.com/png/detail/984-9847888_stopwatch-png-icon-time-icon-png.png",
						watch: this.date,
						lat: this.currentGeoLocation.latitude,
						long: this.currentGeoLocation.longitude
					});
				} else {
					this.check = "Check In";
					this.checkinvisbility = true;
					this.checkoutvisbility = false;
					this.date = new Date().toLocaleString();
					this.list_data.push({
						name: "Check Out",
						imageSrc: "https://www.pngkey.com/png/detail/984-9847888_stopwatch-png-icon-time-icon-png.png",
						watch: this.date,
						lat: this.currentGeoLocation.latitude,
						long: this.currentGeoLocation.longitude
					});
				}
				// console.log(this.ischeckin);
			},
			showLocation: function() {
				geoLocation.watchLocation(
					location => {
						this.currentGeoLocation = location;
					},
					error => {
						alert(error);
					}, {
						desiredAccuracy: 3,
						updateDistance: 10,
						minimumUpdateTime: 1000 * 1
					}
				);
			}
		}
	};
</script>

<style>
.tabview.active {
	border-bottom-color: white;
	border-bottom-width: 3;
	margin: 0;
	height: 50;
}
.tabviewText {
	margin-top: 15;
	margin-bottom: 5;
	font-size: 13;
	color: #d8d2d2;
	horizontal-align: center;
}
.tabviewText.active {
	margin-top: 0;
	margin-bottom: 5;
	font-weight: bold;
	color: white;
	vertical-align: center;
}
.navTab {
	background-color: #bd2122;
}
.navTabview {
	background-color: blue;
}
.status-img {
	margin-top: 4;
	margin-right: 20;
	width: 30;
	height: 30;
}
.status-profile {
	border-width: 1;
	border-color: #ffffff;
	background-color: #f1ebeb;
	border-radius: 50%;
	margin-top: 4;
	margin-right: 15;
	width: 30;
	height: 30;
}
.status-title {
	color: white;
	font-size: 18;
	margin-left: 15;
	margin-top: 8;
	horizontal-align: left;
	vertical-align: center;
}

.btn-img {
	vertical-align: center;
	border-radius: 5;
	border-width: 1;
	color: black;
	margin: 10;
	font-size: 14;
	border-color: #2b3c6a;
	height: 100;
	width: 96%;
}
</style>