<template>
    <page>
        <ActionBar title="Leave"></ActionBar>
        <Label text="hello world!" />
        <Button text="Go Back" @tap="onButtonTap" />
    </page>
</template>

<script>
    import Dash from "./Dashboard";
    export default {
        methods: {
            onButtonTap() {
                this.$navigateTo(Dash, {
                    clearHistory: true
                });
                console.log("Button was pressed");
            }
        },

        data() {
            return {};
        }
    };
</script>

<style>
</style>